HH.ru Flow (With AI and Pagination).json
{
  "name": "HH.ru Flow (With AI and Pagination)",
  "nodes": [
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "search_query",
              "stringValue": "Python Developer"
            },
            {
              "name": "max_pages",
              "stringValue": "1"
            },
            {
              "name": "current_page",
              "stringValue": "0"
            },
            {
              "name": "resumeText",
              "stringValue": "add your resume..."
            },
            {
              "name": "work_format",
              "type": "arrayValue",
              "arrayValue": "[\"REMOTE\"]"
            },
            {
              "name": "experience",
              "stringValue": "between3And6"
            }
          ]
        },
        "options": {}
      },
      "id": "082168c3-8e83-454b-8fd7-dcb1302e5430",
      "name": "Initialize Settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -1008,
        384
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8000/search?text={{ $json.search_query }}&page={{ $json.current_page }}&{{ $json.work_format.map(item => `format=${item}`).join(\"&\") }}&experience={{ $json.experience }}",
        "options": {}
      },
      "id": "f7d20264-b353-4224-bac3-a2b6a9552c8b",
      "name": "Search Vacancies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -752,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "id": "9d8f23c4-24b8-43a0-a6b1-594d1289b3ce"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "45b594a3-56db-4a1b-9cab-5eca5de50f0d",
      "name": "Has Results?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -528,
        112
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -304,
        96
      ],
      "id": "7d0f8cee-6bc3-4aa5-ac3b-b761cf6f96a7",
      "name": "Loop Over Vacancies"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "prompt",
              "stringValue": "=Сгенерируй ОЧЕНЬ короткое сопроводительное письмо для отклика на вакансию.\n\nВходные данные:\nНазвание вакансии: {{ $json.title }}\nКомпания: {{ $json.employer }}\nОписание/требования: {{ $json.description }}\nРезюме:\n{{ $('Initialize Settings').item.json.resumeText }}\n\nЖёсткие требования:\n- 2–3 предложения, не больше\n- Без приветствий и подписей\n- Без фраз: «с большим интересом», «уверен», «буду рад», «внести вклад», «в резюме указано»\n- Пиши от первого лица\n- Текст должен выглядеть как написанный человеком, не HR и не нейросетью\n- Прямо укажи, что есть релевантный опыт по вакансии {{ $json.title }}, но опирайся на резюме\n- Профессионально, но разговорно\n- Только финальный текст письма\n- Никаких комментариев, пояснений или советов\n- Русский язык\n- не оставляй в конце системный комментарий с [Ваше имя]\n- Факты релевантного опыта бери ТОЛЬКО из резюме"
            }
          ]
        },
        "options": {}
      },
      "id": "304a4371-12fe-4040-8445-cbd6f4793048",
      "name": "Prepare AI Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        32,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/apply",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.url }}\",\n  \"message\": \"{{ $json.text }}\"\n}",
        "options": {}
      },
      "id": "41ebf551-5704-438f-b451-86653b1fe843",
      "name": "Apply to Vacancy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        800,
        -32
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "c47be958-58af-4a95-a3d5-752b5e35ba7d",
      "name": "Wait 5s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1024,
        128
      ],
      "webhookId": "07d53079-a877-4024-a6d2-9c602f6af740"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $('Merge').item.json.current_page + 1 }}",
              "rightValue": "={{ $('Merge').item.json.max_pages }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              },
              "id": "29322ea1-90c1-4dba-86fc-f770a4a4548b"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "84505136-310f-46e5-aa92-8bc9981b1031",
      "name": "More Pages?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1248,
        128
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "current_page",
              "stringValue": "={{ $('Merge').item.json.current_page + 1 }}"
            },
            {
              "name": "search_query",
              "stringValue": "={{ $('Merge').item.json.search_query }}"
            },
            {
              "name": "max_pages",
              "stringValue": "={{ $('Merge').item.json.max_pages }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7a4012de-d634-4b17-bb6e-7b823bceb817",
      "name": "Increment Page",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1472,
        128
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1296,
        384
      ],
      "id": "702678c2-e1e7-4c9f-8c81-26cd16b8f75f",
      "name": "Start Workflow"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "b2c54b32-06cd-4100-b0e4-7badc2fbc237",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1696,
        368
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        176
      ],
      "id": "9c3e8d12-f63e-448b-8de5-ad9f21b04467",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "url",
              "stringValue": "={{ $('Loop Over Vacancies').item.json.url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ddbff830-4c3e-412d-9de3-676b77acac01",
      "name": "Prepare Apply Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        576,
        -32
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        176
      ],
      "id": "7c5af738-e84e-4f4c-b48a-0508590aec87",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "MJQ5z2M2HKmU9InL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        240,
        -32
      ],
      "id": "4ffd60b3-2233-4950-ad95-3acff5ca6bb8",
      "name": "Basic LLM Chain"
    }
  ],
  "pinData": {},
  "connections": {
    "Start Workflow": {
      "main": [
        [
          {
            "node": "Initialize Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Settings": {
      "main": [
        [
          {
            "node": "Search Vacancies",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Search Vacancies": {
      "main": [
        [
          {
            "node": "Has Results?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Results?": {
      "main": [
        [
          {
            "node": "Loop Over Vacancies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Vacancies": {
      "main": [
        [],
        [
          {
            "node": "Prepare AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply to Vacancy": {
      "main": [
        [
          {
            "node": "Wait 5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s": {
      "main": [
        [
          {
            "node": "Loop Over Vacancies",
            "type": "main",
            "index": 0
          },
          {
            "node": "More Pages?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "More Pages?": {
      "main": [
        [
          {
            "node": "Increment Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Page": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Search Vacancies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Apply Data": {
      "main": [
        [
          {
            "node": "Apply to Vacancy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Prompt": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Prepare Apply Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9a262adb-6e33-4f08-9ea8-49766c931c78",
  "meta": {
    "instanceId": "e7cd9eaeeffdb068e4b7bbf8ceb98e7c1c2a27affbc3a8bc39eb0e348d09dcba"
  },
  "id": "pC5Yo8BZzvot4ag6",
  "tags": []
}
